{% extends "auctions/layout.html" %}
{% block body %}
{% if request.user.is_authenticated %}
<h1 class="text-light">Active Listings</h1>

<!-- <ul>
            {% for listing in listings %}
                <li>{{ listing.item }}: being sold for ${{ listing.price }} by {{ listing.owner.username }}</li>
            {% endfor %}
        </ul> -->
<div class="container">
  <div class="card-group">
{% for listing in listings %}
{% if not listing.closed %}
<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}
</style>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ listing.photo }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ listing.description }}</h5>
    <p class="card-text">Actual prize: ${{ listing.price }}, top horizon: {{ listing.tophorizon }}</p>
    <a href="#" class="btn btn-primary">go to listing</a>
  </div>
</div>

{% endif %}
{% endfor %}
</div>
</div>
{% endif %}
{% endblock %}
